.site-container {
  width: $site-container-width;
  max-width: calc(100% - 30px);
  margin: 0 auto;
}

.donate-process {

  &__text {
    margin-bottom: .5em;
  }

  &__bar {
    width: 100%;
    margin-bottom: 15px;
    
    .__bar,
    .__bar_highlight {
      border-radius: 20px;
    }

    .__bar {
      width: 100%;
      position: relative;
      background: #ededed;
      line-height: 0;
  
      .__bar_highlight {
        display: inline-block;
        padding: 6px;
        box-sizing: border-box;
        background: $accent-color;
      }
    }
  } 
}

.donor-list {
  display: inline-block;

  &__ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    list-style: none;
    line-height: 0;
    margin: 0;
    padding: 0;
    width: 46px;
    height: 46px;
    border-radius: 56px;
    background: white;
    border: solid 3px white;
    box-shadow: 2px 3px 8px 0 rgb(1 1 1 / 15%);

    &:not(:first-child) {
      margin-left: -20%;
    }
  }

  &__item-avatar {
    width: 100%;
    display: block;

    img {
      width: 100%;
      border-radius: 100%;
    }
  }
}